body {
  background-color: darkgrey;
  text-align: center;
  padding: 5%
}



 form{
  font-family: sans-serif;
  color: white;
  background-color: grey;
  border: 5px solid white;
  border-radius: 8px 10px 9px 9px;

  
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
 }

  


input[type=text], [type=email], [type=textarea] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.group{
  margin: 2%;
}
h2{
color: white;
}