/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}
input, button{
  appearance: none;
  background: none;
  border: none;
   
}
.App{
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:gray;
}
form{
  position: relative;
  display: block;
}
form:after{
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 0;
  background-image: linear-gradient(to bottom right, #1ba364, #0b3b68);
}
form .in-form{
  position: relative;
  padding: 30px;
  background-color: #FFF;
  display: block;
  z-index: 3;
}
form .in-form h2{
  color: #888;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
form .in-form .group{
  display: block;
  margin-bottom: 15px;
 width: 300px; 
 z-index: 4;

}
form .in-form label{
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}
form .in-form:focus-within label{
  color: #fe4880;
}
form .in-form .group input{
  display: block;
  width: 100%;
  padding: 10px, 15px;
  background-color: #e4e1e1;
  border-radius: 8px;
  transition: 0.4s;
  height: 25px;
}
form .in-form .group input:focus{
  box-shadow: 0px 0px 3px rgba(0, 0,0,0.2);
}
form .in-form input[type="submit"],
.welcome button{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #0b3b68 ,#1ba364 );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;

}
form .in-form input[type="submit"]:hover,
.welcome button:hover{
  background-position: 100% 0%;
}
.welcome{
  width: 100%;
  max-width: 480px;
  background-color: #FFF;
  padding: 10px,30px;
}
.welcome h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span{
  color: #fe4880;
  font-weight: 700;

} */
